@use 'overlay-elements';

.content {
  width: min(90vw, 1440px);
  height: 85dvh;
  max-width: 1300px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: linear-gradient(45deg, #1c1c1c 0%, #1c1c1c 40%, #08463b 100%);
  padding: clamp(24px, 5vw, 64px);
  overscroll-behavior: contain;
  box-sizing: border-box;
}

.stage {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: clamp(32px, 5vw, 80px);
}

.text-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  height: 100%;
  flex: 1 1 40%;
  min-width: 300px;
}

h2 {
  font-size: clamp(72px, 8vw, 128px);
  font-family: Karla;
  color: var(--primary-color);
  line-height: 0.8;
}

h3 {
  font-size: clamp(42px, 5vw, 64px);
  font-family: Fira Code;
  color: white;
  white-space: nowrap;
}

.question {
  font-size: clamp(20px, 2vw, 24px);
  font-family: Fira Code;
  font-weight: 700;
  color: var(--primary-color);
}

.project-description {
  color: white;
  font-size: 18px;
  font-family: Karla;
}

.button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: auto;

  & img {
    margin-left: 8px;
  }
}

.button-links {
  display: flex;
  gap: 32px;
}

.image-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;

  & .close-btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    align-self: flex-end;

    & img {
      width: 18px;
      height: 18px;
      transition: opacity 125ms ease-in-out;
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      img {
        content: url('/icons/close.svg');
        width: 25px;
        height: 25px;
      }
    }
  }
}

.project-image {
  width: 100%;
  max-width: 520px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
  object-position: center top;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1300px) {
  h3 {
    font-size: 56px;
    white-space: normal;
  }
}

@media (max-width: 1220px) {
  .content {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (max-width: 990px) {
  .content {
    max-height: 85dvh;
    height: auto;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .text-area {
    flex: none;
  }

  .image-area {
    width: 100%;
    align-items: flex-end;
    order: -1;
  }

  .project-image {
    width: 100%;
    max-height: 250px;
    align-self: center;
  }

  .button-links {
    gap: 20px;
  }
}

@media (max-width: 675px) {
  .content {
    justify-content: space-between;
    flex: 1;
    max-height: 75%;

  }

  .button-area {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    gap: 16px;
  }

  h2 {
    font-size: clamp(56px, 12vw, 72px);
  }

  .text-area {
    padding-top: 12px;
  }

  h3 {
    font-size: clamp(42px, 8vw, 56px);
  }
}

@media (max-width: 450px) {
  .content {
    padding: 14px 10px;
  }

  .content-wrapper {
    flex: 1;
  }

  .project-image {
    max-height: 150px;
    border-radius: 16px;
  }

  .image-area {
    gap: 8px;
  }

  h2 {
    font-size: 44px;
    line-height: 0.85;
  }

  h3 {
    font-size: 32px;
    line-height: 1.1;
  }

  .text-area {
    gap: 10px;
    min-width: 0px;
    justify-content: space-evenly;
    flex: 1;
  }

  .project-description {
    font-size: 16px;
    line-height: 1.3;
  }

  .button-links app-animated-button {
    & ::ng-deep button {
      width: 130px;
      padding: 0 10px;
      font-size: 13px;
      height: 34px;
    }
  }

  .button-links a img {
    display: none;
  }
}

@media (max-width: 600px), (max-height: 750px) {
  .content-wrapper {
    gap: 0;
  }
  .content {
    padding: 12px 16px;
  }

  .project-image {
    max-height: 140px;
    max-width: 280px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 30px;
  }

  .project-description {
    font-size: 15px;
  }

  .button-area {
    gap: 8px;
  }

  .image-area {
    gap: 0;
  }
}

@media (max-width: 400px), (max-height: 670px) {
  .content {
    padding: 8px 16px;
  }

  .content-wrapper {
    gap: 8px;
  }

  .project-image {
    max-height: 120px;
    max-width: 240px;
  }

  .image-area {
    gap: 0;
  }
}

@media (min-width: 900px) and (max-height: 680px) {
  .content {
    height: 85dvh;
    max-height: 480px;
    padding-bottom: 14px;
    padding-top: 16px;
  }

  .content-wrapper {
    gap: 16px;
  }

  .project-image {
    max-height: 180px;
  }

  .text-area {
    gap: 12px;
  }

  .button-area {
    gap: 20px;
  }

  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 50px;
    white-space: nowrap;
  }
}
