.content {
  width: min(90vw, 1440px);
  width: 90vw;
  height: 85vh;
  max-width: 1300px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // gap: clamp(32px, 5vw, 80px);
  gap: 32px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: linear-gradient(45deg, #1c1c1c 0%, #1c1c1c 40%, #08463b 100%);
  padding: clamp(32px, 5vw, 64px);
  overscroll-behavior: contain;
}

.stage {
  width: 100%;
  max-width: 1440px;
  // margin: 0 auto;
  position: relative;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: clamp(32px, 5vw, 80px);
  // flex: 1;
}

.text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 32px;
  height: 100%;
  flex: 1 1 40%;
  min-width: 300px;
  // min-height: 400px;
}

h2 {
  font-size: clamp(92px, 8vw, 128px);
  font-family: Karla;
  color: var(--primary-color);
  line-height: 0.8;
}

h3 {
  // font-size: clamp(40px, 5vw, 64px);
  font-size: 64px;
  font-family: Fira Code;
  color: white;
  white-space: nowrap;

}

.question {
  font-size: clamp(20px, 2vw, 24px);
  font-family: Fira Code;
  font-weight: 700;
  color: var(--primary-color);
}

.project-description {
  color: white;
  font-size: 18px;
  font-family: Karla;
}

.tech {
  display: flex;
  gap: 16px;
}

.tech-image {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}

.tech {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;

  .tech-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .icon-mask {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .tech-name {
    color: white;
    font-size: 16px;
    font-family: Karla;
  }
}

.button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: auto;
  // margin-top: clamp(24px, 3vw, 48px);
  // padding-top: 16px;

  & img {
    margin-left: 8px;
  }
}

.button-links {
  display: flex;
  gap: 32px;
}

.image-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
  flex: 1 1 60%;

  & img {
    max-width: 450px;
  }

  & .close-btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    align-self: flex-end;


    & img {
      width: 18px;
      height: 18px;
      transition: opacity 225ms ease-in-out;
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      img {
        content: url('/icons/close.svg');
        width: 25px;
        height: 25px;
      }
    }
  }
}

.project-image {
  border-radius: 30px;
  max-width: 450px;
  object-fit: cover;
  object-position: center top;
  margin-top: auto;
  margin-bottom: auto;
}

.next-project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  width: 150px;
  height: 40px;
  gap: 8px;
  transition: color 100ms ease-in-out;
  margin-top: auto;

  & span {
    font-size: 18px;
    font-family: Karla;
    white-space: nowrap;
  }

  & img {
    width: 18px;
    height: 18px;
    transition: transform 125ms ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: white;

    img {
      content: url('/icons/arrow-right.svg');
      transform: translateX(3px);
    }
  }

  & .arrow-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1300px) {
h3{
  font-size: 56px;
}

}

@media (max-width: 1220px) {
h3{
  white-space: normal;
}

.content {
    max-height: 740px;
    // max-height: none;
    // height: auto;
  }
}

@media (max-width: 990px) {

  .content {
    max-height: none;
    height: auto;
    max-width: 680px;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .text-area {
    flex: none;
    gap: 24px;
  }

  .image-area {
    flex: none;
    width: 100%;
    align-items: flex-end;
    order: -1;
  }

  .project-image {
    max-width: 100%;
    width: 100%;
    align-self: center;
  }

  h3 {
    white-space: nowrap;
  }
}

@media (max-width: 900px) {
.project-description{
  font-size: 16px;
}

.tech {
  flex-wrap: wrap;
}
}

@media (max-width: 675px) {
.button-area {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.button-links{
  width: 100%;
  display: flex;
  justify-content: center;
}

.next-project-button{
  align-self: flex-end;
}
}


