<div class="backdrop" (click)="onClose()">
<section class="content" (click)="$event.stopPropagation()">
  <article class="text-area">
    <h2>{{ project.title }}</h2>
    <h3>{{ project.subtitle }}</h3>

    <p class="question">What is this project about?</p>
    <p class="project-description">{{ project.description }}</p>

    <aside class="tech">
      <div *ngFor="let tech of project.techs" class="tech-item">
        <div
          class="icon-mask"
          [style.mask-image]="'url(' + tech.iconUrl + ')'"
          [style.-webkit-mask-image]="'url(' + tech.iconUrl + ')'"
        ></div>
        <span class="tech-name">{{ tech.name }}</span>
      </div>
    </aside>
    <div class="button-area">
      <app-animated-button><span>GitHub</span><img src="/icons/arrow-out.svg" alt="Arrow out"></app-animated-button>
      <app-animated-button><span>Live Test <img src="/icons/arrow-out.svg" alt="Arrow out"></span></app-animated-button>
    </div>
  </article>

  <article class="image-area">
    <button class="close-btn" type="button" (click)="onClose()"><img src="/icons/close-small.svg" alt="Close Overlay"></button>

    <img class="project-image" [src]="project.imageUrl" [alt]="project.title" />

    <button class="next-project-button"><span>Next project</span>
      <div class="arrow-icon">
      <img src="/icons/arrow-right-nohover.svg" alt="Arrow Left">
    </div>
    </button>

  </article>
</section>
</div>
