<div class="backdrop" (click)="onClose()">
  <section class="content" (click)="$event.stopPropagation()">
    <div class="content-wrapper">
      <article class="text-area">
        <h2>{{ project.title }}</h2>
        <h3>{{ project.subtitle }}</h3>
        <p class="question">{{ 'projects.question' | translate }}</p>
        <p class="project-description">{{ project.descriptionKey | translate }}</p>
        <aside class="tech">
          @for (tech of project.techs; track tech.name) {
            <div class="tech-item">
              <div
                class="icon-mask"
                [style.mask-image]="'url(' + tech.iconUrl + ')'"
                [style.-webkit-mask-image]="'url(' + tech.iconUrl + ')'"
              ></div>
              <span class="tech-name">{{ tech.name }}</span>
            </div>
          }
        </aside>
      </article>
      <article class="image-area">
        <button class="close-btn" type="button" (click)="onClose()">
          <img src="/icons/close-small.svg" alt="Close Overlay" />
        </button>
        <img class="project-image" [src]="project.imageUrl" [alt]="project.title" />
      </article>
    </div>
    <div class="button-area">
      <div class="button-links">
        <app-animated-button
          ><a [href]="project.github" target="_blank" class="github-link">
            <span>GitHub</span>

            <img src="/icons/arrow-out.svg" alt="Arrow out" /> </a
        ></app-animated-button>
        <app-animated-button
          ><a [href]="project.livetest" target="_blank"
            ><span>Live Test</span><img src="/icons/arrow-out.svg" alt="Arrow out" /></a
        ></app-animated-button>
      </div>
      <button class="next-project-button" (click)="onNext()">
        <span>{{ 'projects.nextButton' | translate }}</span>
        <div class="arrow-icon">
          <img src="/icons/arrow-right-nohover.svg" alt="Arrow Left" />
        </div>
      </button>
    </div>
  </section>
</div>
