.content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: #1c1c1c;
  margin-top: 80px;
  gap: 80px;
  font-family: Karla;
  color: white;
}
