<section class="content">
  <article class="skillset-text">
    <h2>Technologies</h2>
    <h1>Skill Set</h1>
    <p>
      Frontend development changes fast, and I keep up by staying consistent: I invest a lot of
      time, practice regularly and refine my skills step by step. I enjoy learning new techniques
      and tools and applying them in real projects.
    </p>

    <p>You need another skill?</p>
    <p>Feel free to contact me. I look forward t oexpanding on my previous knowledge.</p>
    <app-animated-button>Let's Talk</app-animated-button>
  </article>
  <aside class="tech-stack">
    <div>
      <img src="" alt="" />
      <span>HTML</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>CSS</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>SCSS</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>JavaScript</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>TypeScript</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>Angular</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>Git</span>
    </div>
    <div>
      <img src="" alt="" />
      <span>REST-API</span>
    </div>
  </aside>
</section>
