<div class="skills-wrapper-full">
<section class="content">
  <div class="technologies">
    <h3>Technologies</h3>
    <article class="skillset-text">
      <h2>Skill Set</h2>
      <div class="skill-text-area">
        <p class="main-text">
          Frontend development changes fast, and I keep up by staying consistent: I invest a lot of
          time, practice regularly and refine my skills step by step. I enjoy learning new
          techniques and tools and applying them in real projects.
        </p>

        <p class="request-skill">You need <span>another skill?</span></p>
      </div>
      <p class="request-contact">
        Feel free to contact me. I look forward t oexpanding on my previous knowledge.
      </p>
      <app-animated-button>Let's Talk</app-animated-button>
    </article>
  </div>
  <aside class="tech-stack">
    <div class="tech-stack-icon">
      <img src="/icons/html.svg" alt="HTML Logo" />
      <span>HTML</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/css.svg" alt="CSS Logo" />
      <span>CSS</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/sass.svg" alt="SASS Logo" />
      <span>SCSS</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/javascript.svg" alt="JS Logo" />
      <span>JavaScript</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/typescript.svg" alt="TS Logo" />
      <span>TypeScript</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/angular.svg" alt="Angular Logo" />
      <span>Angular</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/git.svg" alt="Git Logo" />
      <span>Git</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/rest-api.svg" alt="Rest-API Logo" />
      <span>REST-API</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/supabase.svg" alt="Supabase Logo" />
      <span>Supabase</span>
    </div>
    <div class="tech-stack-icon">
      <img src="/icons/scrum.svg" alt="Scrum Logo" />
      <span>Scrum</span>
    </div>
    <div class="tech-stack-icon highlight">
      <img src="/icons/mindset.svg" alt="Mindset Logo" />
      <span>Growth<br />mindset</span>
      <div class="speechbubble">
        <p>
          I have a special<br />
          interest in learning
        </p>
        <div class="special-interests">
          <div class="single-interest">
            <img src="/icons/react.svg" alt="React Logo" />
            <span>React</span>
          </div>
          <div class="single-interest">
            <img src="/icons/vuejs.svg" alt="Vue.js Logo" />
            <span>Vue.js</span>
          </div>
        </div>
        <img src="/icons/triangle.svg" class="bubble-triangle">
      </div>
    </div>
  </aside>
</section>
</div>
