.content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: #1c1c1c;
  margin-top: 80px;
  gap: 80px;
  font-family: Karla;
  color: white;
  margin-top: 120px;
  margin-bottom: 120px;


   background-color: #1c1c1c;
  background-image: radial-gradient(
    ellipse 700px 520px at -12% 55%,
    rgba(8, 70, 59, 0.55) 0%,
    rgba(8, 70, 59, 0.28) 35%,
    rgba(8, 70, 59, 0) 75%
  );
  background-repeat: no-repeat;
}





h3 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 16px;
  font-weight: 700;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 72px;
  flex-wrap: wrap;

  & .tech-stack-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    & img {
      width: 56px;
      height: 56px;

      &:hover {
        transform: scale(1.1);
      }
    }

    & span {
      font-size: 18px;
    }
  }
}

.technologies{
margin-left: 120px;
}

.skillset-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: rgba(61, 207, 182, 0.1);
  width: 520px;
  padding: 32px 28px;
  gap: 40px;


  & h2 {
    text-align: left;
    width: 100%;
    font-size: 64px;
    color: var(--primary-color);
    padding-bottom: 32px;
    font-weight: 700;
    font-family: Fira Code;
  }

  & .skill-text-area {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .main-text {
      font-size: 18px;
    }

    & .request-skill {
      font-size: 24px;
      font-weight: 700;
      font-family: Fira Code;

      & span {
        color: var(--primary-color);
      }
    }

    & .request-contact {
      font-size: 16px;
    }
  }
}

app-animated-button {
  align-self: flex-start;
}
