@use '../../../styles/mixins' as m;

.skills-wrapper-full {
  // width: 100%;
  display: flex;
  justify-content: center;


  background-image: radial-gradient(
    ellipse 700px 520px at -100px 55%,
    rgba(8, 70, 59, 0.55) 0%,
    rgba(8, 70, 59, 0.28) 35%,
    rgba(8, 70, 59, 0) 75%
  );
  background-repeat: no-repeat;
}

.content {
  @include m.content-limitation(row);
  height: 100%;
  align-items: flex-start;
  margin-top: 80px;
  gap: 80px;
  font-family: Karla;
  color: white;
  margin-top: 120px;
    padding-right: 80px;
  padding-left: 80px;
}

h3 {
  @include m.small-headline;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 72px 48px;
  justify-items: center;
  flex: 1;

  & .tech-stack-icon {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 8px;

    & img {
      width: 56px;
      height: 56px;

      &:hover {
        transform: scale(1.1);
      }
    }

    & span {
      font-size: 18px;
    }
  }

  & .highlight {
    position: relative;

    &:hover {
      color: var(--primary-color);
      cursor: default;

      & > img {
        transition: transform 0.3s ease;
        transform: scale(1.1);
      }
    }

    &:hover .speechbubble {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(-10px);
    }
  }
}

.technologies {
  // margin-left: 80px;
  margin-bottom: 120px;
}

.skillset-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: rgba(61, 207, 182, 0.1);
  width: 520px;
  padding: 32px 28px;
  gap: 40px;

  & h2 {
    @include m.big-headline;
  }

  & .skill-text-area {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .main-text {
      font-size: 18px;
    }

    & .request-skill {
      font-size: 24px;
      font-weight: 700;
      font-family: Fira Code;

      & span {
        color: var(--primary-color);
      }
    }

    & .request-contact {
      font-size: 16px;
    }
  }
}

::ng-deep .highlight {
  color: var(--primary-color);
}


app-animated-button {
  align-self: flex-start;
}

.speechbubble {
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: 250px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: visible;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  // background: rgba(61, 207, 182, 0.1);
  border-radius: 16px;
  gap: 8px;
  font-size: 16px;
  text-align: center;
  padding: 8px 24px;
  font-weight: 600;

  & .bubble-triangle {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 20px;
    pointer-events: none;
    z-index: -1;
  }

  & .special-interests {
    display: flex;
    gap: 16px;

    & .single-interest {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & img {
        width: 34px;
        height: 32px;
      }

      & span {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
