@use '../../../styles/mixins' as m;
.content {
  @include m.content-limitation(row);
  padding-left: 80px;
  padding-right: 80px;
  font-family: Karla;
  margin-bottom: 120px;
  gap: 40px;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 240px;
  flex: 1;

  & h3 {
    @include m.small-headline;
    font-weight: 500;
  }

  & h2 {
    @include m.big-headline;
    padding-bottom: 20px;
  }
}

.request-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.request-question {
  @include m.small-headline;
  font-weight: 700;
  font-family: Fira Code;
}

.request-contact {
  font-size: 16px;
  font-weight: 700;
  color: white;

  & span {
    color: var(--primary-color);
  }
}

.form-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    gap: 60px;
  }
  .text-area {
    padding-bottom: 20px;
    & h3 {
      font-size: 20px;
    }

    & h2 {
      font-size: 56px;
    }
  }
}

@media (max-width: 450px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-area {
    padding-bottom: 18px;
    & h3 {
      font-size: 20px;
    }
  }

  .request-question {
    font-size: 20px;
  }
}
