@use '../../../styles/mixins' as m;
.content {
  @include m.content-limitation(row);
  padding-left: 80px;
  padding-right: 80px;
  font-family: Karla;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 240px;

  & h3 {
    @include m.small-headline;
    font-weight: 500;
  }

  & h2 {
    @include m.big-headline;
    padding-bottom: 20px;
  }
}

.request-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.request-question {
  @include m.small-headline;
  font-weight: 700;
  font-family: Fira Code;
}

.request-contact {
  font-size: 16px;
  font-weight: 700;
  color: white;

  & span {
    color: var(--primary-color);
  }
}
