<section class="content" id="contact-section">
  <article class="text-area">
    <h3>Contact me</h3>
    <h2>Let's work together</h2>

    <div class="request-text">
      <p class="request-question">Got a problem to solve?</p>
      <p class="request-contact">
        I enjoy building modern UIs with attention to detail — from layout to performance.
        <br /><br />If you need a Frontend developer who ships reliably,<span> let's talk!</span>
      </p>
    </div>
  </article>
<aside class="form-area">



  <app-form>

  </app-form>
  <app-animated-button [disabled] = "isFormInvalid"><span>Say Hello ;)</span></app-animated-button>
  </aside>
</section>
