@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation();
  min-height: 100vh;
  font-family: Karla;
}

ul {
  padding-top: 24px;

  & li {
    font-size: 16px;
    color: var(--primary-color);
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

h2 {
  @include m.big-headline;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 64px;
}

.paragraph {
  display: flex;
  flex-direction: column;



  & .imprint-headline {
    font-size: 19px;
    color: white;
  }

  & .imprint-text {
    font-size: 16px;
    color: var(--primary-color);

    ::ng-deep span{
    color: white;
  }
  }
}

app-header {
  padding-left: 80px;
  padding-right: 80px;
}

app-footer {
  margin-top: auto;
  padding-left: 0;
  padding-right: 0;
}

@media(max-width: 750px){
  h2 {
  font-size: 52px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-content {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
}

@media(max-width: 450px){
h2 {
  font-size: 32px;
  padding-bottom: 0px;
  text-align: left;
}

.text-content {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
}
