<section class="content">
<app-header></app-header>
<article class="text-content">

<h2>{{ "legalNotice.headline" | translate}}</h2>
<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.imprint" | translate}}</h4>
<ul>
  <li>Benjamin Blarr</li>
  <li>Lindenweg 2</li>
  <li>38364 Schöningen</li>
</ul>

</div>


<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.contact" | translate}}</h4>
<p class="imprint-text" >Email: b.blarr@gmx.de</p>



</div>


<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.acceptance" | translate}}</h4>
<p class="imprint-text"  [innerHTML]="'legalNotice.acceptanceText' | translate"></p>



</div>



<div class="paragraph">

<h4 class="imprint-headline">{{ "legalNotice.scope" | translate}}</h4>
<p class="imprint-text"  [innerHTML]="'legalNotice.scopeText' | translate"></p>



</div>






<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.rights" | translate}}</h4>
<p class="imprint-text"  [innerHTML]="'legalNotice.rightsText' | translate"></p>




</div>


<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.use" | translate}}</h4>
<p class="imprint-text"  [innerHTML]="'legalNotice.useText' | translate"></p>



</div>


<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.disclaimer" | translate}}</h4>
<p class="imprint-text"  [innerHTML]="'legalNotice.disclaimerText' | translate"></p>



</div>


<div class="paragraph">
<h4 class="imprint-headline">{{ "legalNotice.indemnity" | translate}}</h4>
<p class="imprint-text"  [innerHTML]="'legalNotice.indemnityText' | translate"></p>
<br>
<p class="imprint-text" >{{ "legalNotice.contactMe" | translate}}</p>
<br>
<p class="imprint-text" >{{ "legalNotice.date" | translate}}</p>

</div>


















</article>
<app-footer></app-footer>
</section>
