@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation(row);
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
  align-items: center;
  font-family: Karla;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  font-size: 16px;
  color: white;

  & .footer-logo-text {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 8px;
  }

  & .logo-full {
    width: 320px;
    max-height: 120px;
  }

  & .logo-small {
    display: none;
  }
}

.copyright {
  font-family: Fira Code;
  font-size: 18px;
  color: var(--primary-color);
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  color: white;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }

  div {
    position: relative;
    padding-left: 1rem;

    &:hover {
      color: var(--primary-color);
    }

    &::before {
      content: '';
      opacity: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--primary-color);
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px 0;
    padding: 40px 60px;
  }

  .footer-logo {
    order: 1;
    width: 50%;
  }

  .footer-links {
    order: 2;
    width: 50%;
    align-items: flex-end;
    text-align: right;
  }

  .copyright {
    order: 3;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    // border-top: 1px solid #ffffff20;
  }
}

@media (max-width: 750px) {
  .content{
  padding-left: 40px;
  padding-right: 40px;
  // padding-bottom: 80px;
  }

  .footer-logo{

  & .logo-full {
    display: none;
  }

  & .logo-small {
    display: flex;
    width: 48px;
    height: auto;
  }
}
}

@media (max-width: 450px) {
  .content{
  padding-left: 20px;
  padding-right: 20px;
  }
}
