<section class="content">
  <div class="footer-logo">
    <img class="logo" src="/icons/logo.png" alt="Logo" />
    <div class="footer-logo-text">
      <span>Web Developer</span>
      <span>Schoeningen Germany</span>
    </div>
  </div>

  <div class="copyright">&copy; Benjamin Blarr 2026</div>

  <div class="footer-links">
    <div><a href="https://github.com/B-Blarr"></a>Github</div>
    <div><a href=""></a>Linkedin</div>
    <div><a href="mailto:b.blarr@gmx.de"></a>Email</div>
    <div><a href=""></a>Legal Notice</div>
  </div>
</section>
