@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation(row);
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  background-color: #1c1c1c;
  margin-top: 80px;
  gap: 80px;
  font-family: Karla;
  margin-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.main-image-wrap {
  position: relative;
  border-radius: 30px;
  isolation: isolate;
  padding-bottom: 30px;
  padding-left: 30px;

  &::after {
  content: "";
  position: absolute;
  opacity: 0;

  /* Versatz: so “steht” die Stripe-Fläche unten/rechts raus */
  top: 30px;
  right: 30px;

  /* gleiche Größe wie die Box – dadurch wirkt’s wie im Project */
  width: 568px;
  height: 568px;

  border-radius: inherit;
  pointer-events: none;

  background: repeating-linear-gradient(
    45deg,
    color-mix(in srgb, var(--primary-color) 95%, transparent) 0 1px,
    transparent 1px 24px
  );

  /* hinter dem Bild */
  z-index: 0;
}

  &:hover::after {
    opacity: 1;
  }

  & .main-image {
    width: 568px;
    height: 568px;
    display: block;
    border-radius: inherit;
    position: relative;
    z-index: 2;
    filter: grayscale(100%);
    transition: filter 0.4s ease-in-out;

    &:hover {
      filter: grayscale(0%);
    }
  }
}

article {
  margin-top: 120px;
}

h3 {
  @include m.small-headline;
}

.aboutme-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: rgba(61, 207, 182, 0.1);
  width: 568px;
  padding: 32px 28px;
  gap: 40px;

  & h2 {
    @include m.big-headline;
  }

  & .main-text {
    color: white;
    font-size: 18px;
  }

  .aboutme-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;

    & .aboutme-info-line {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
      color: #ffffffcc;
      font-size: 18px;

      &:hover {
        color: white;
      }

      & img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }
}
