<section class="content" id="aboutme-section">
  <div class="main-image-wrap">
  <img class="main-image" src="/images/benjamin_blarr.jpg" alt="Benjamin Blarr" />
  </div>
  <article>
    <h3>{{"aboutMe.whoAmI" | translate}}</h3>
    <aside class="aboutme-text">
      <h2>{{"aboutMe.aboutMe" | translate}}</h2>
      <p class="main-text">
        {{"aboutMe.introMain" | translate}}
      </p>
      <div class="aboutme-infos">
        <div class="aboutme-info-line">
          <img src="/icons/location.svg" alt="Location" />
          <p>
            {{"aboutMe.introOne" | translate}}
          </p>
        </div>
        <div class="aboutme-info-line">
          <img src="/icons/cognition.svg" alt="Cognition" />
          <p>
            {{"aboutMe.introTwo" | translate}}
          </p>
        </div>
        <div class="aboutme-info-line">
          <img src="/icons/learnings.svg" alt="Learnings" />
          <p>
            {{"aboutMe.introThree" | translate}}
          </p>
        </div>
      </div>
    </aside>
  </article>
</section>
