.content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: #1c1c1c;
  margin-top: 80px;
  gap: 80px;
  font-family: Karla;
}

.main-image-wrap {
  position: relative;
  border-radius: 30px;
  isolation: isolate;
  padding-left: 48px;
  padding-bottom: 30px;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: 1;

    opacity: 0;
    transition: opacity 600ms ease;

    background:
      repeating-linear-gradient(
          45deg,
          color-mix(in srgb, var(--primary-color) 95%, transparent) 0 1px,
          transparent 2px 24px
        )
        left 6px bottom / 48px calc(100% - 40px) no-repeat,
      repeating-linear-gradient(
          45deg,
          color-mix(in srgb, var(--primary-color) 95%, transparent) 0 1px,
          transparent 2px 24px
        )
        left bottom 6px / calc(100% - 40px) 24px no-repeat;
  }

  &:hover::after {
    opacity: 1;
    // transform: translate(-10px, 10px);
  }

  & .main-image {
    width: 568px;
    height: 568px;
    display: block;
    border-radius: inherit;
    position: relative;
    z-index: 2;
    filter: grayscale(100%);
  }
}

article {
  margin-top: 120px;
}

h3 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 16px;
  font-weight: 500;
}

.aboutme-text {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: rgba(61, 207, 182, 0.1);
  width: 568px;
  // height: 568px;
  padding: 32px 28px;
  gap: 40px;

  & h2 {
    text-align: left;
    width: 100%;
    font-size: 64px;
    color: var(--primary-color);
    padding-bottom: 32px;
    font-family: Fira Code;
  }

  & .main-text {
    color: white;
    font-size: 18px;
  }

  .aboutme-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;

    & .aboutme-info-line {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
      color: #ffffffcc;
      font-size: 18px;

      &:hover {
        color: white;
      }

      & img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }
}
