section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(45deg, #08463B4D 0%, #08463B4D 30%, #1C1C1C 100%);
background-color: #1c1c1c;
}

app-aboutme, app-skills{
    width: 100%;
  display: flex;
  justify-content: center;
}

