<section class="hero-content">
  <app-header></app-header>
  <article class="hero-area">
    <aside>
      <button></button>
      <div class="dividing-line"></div>
    </aside>
    <div class="developer-introduction">
      <h2>Fullstack Developer</h2>
      <h1>Benjamin Blarr</h1>
    </div>
    <aside class="hero-links">
      <a href="b.blarr@gmx.de">b.blarr@gmx.de</a>
      <img src="/icons/github.png" alt="Github Profile" />
      <img src="/icons/linkedin.png" alt="Linkedin Profile" />
      <div class="dividing-line"></div>
    </aside>
  </article>
</section>
