<section class="hero-content">
  <app-header></app-header>
  <article class="hero-area">
    <aside>
      <button class="arrow-down-button">
        <img src="/icons/arrow-down.png" alt="Arrow Down" />
      </button>
      <div class="dividing-line background-primary"></div>
    </aside>
    <div class="developer-introduction">
      <h2>Frontend Developer</h2>
      <h1>Benjamin Blarr</h1>
      <div class="introduction-buttons">
        <app-animated-button><a href="#projects">Check my work</a></app-animated-button>
        <app-animated-button><a href="#contact-section">Contact me</a></app-animated-button>
      </div>
    </div>
    <aside class="hero-links">
      <a class="rotate-text" href="mailto:b.blarr@gmx.de">b.blarr@gmx.de</a>
      <a class="icon-link" href="https://github.com/B-Blarr" target="_blank"
        ><img src="/icons/github.png" alt="Github Profile"
      /></a>
      <a class="icon-link" href=""
        ><img src="/icons/linkedin.png" target="_blank" alt="Linkedin Profile"
      /></a>

      <div class="dividing-line background-white"></div>
    </aside>
  </article>
  <aside class="banner">
    <div class="dividing-dot"></div>
    <span class="banner-text">Available for remote work</span>
    <div class="dividing-dot"></div>
    <span class="banner-text">Frontend Developer</span>
    <div class="dividing-dot"></div>
    <span class="banner-text">Based in Schöningen</span>
    <div class="dividing-dot"></div>
    <span class="banner-text">Open to work</span>
  </aside>
</section>
