<section class="hero-content">
  <app-header></app-header>
  <article class="hero-area">
    <aside>
      <button type="button" class="arrow-down-button">
        <img src="/icons/arrow-down.png" alt="Arrow Down" />
      </button>
      <div class="dividing-line background-primary"></div>
    </aside>
    <div class="developer-introduction">
      <h2>Fullstack Developer</h2>
      <h1>Benjamin Blarr</h1>
      <div class="introduction-buttons">
        <a href="#projects">
          <app-animated-button [tabbable]="false">{{ 'hero.buttonProject' | translate }}</app-animated-button>
        </a>
        <a href="#contact-section">
          <app-animated-button [tabbable]="false">{{ 'hero.buttonContact' | translate }}</app-animated-button>
        </a>
      </div>
    </div>
    <aside class="hero-links">
      <a class="rotate-text" href="mailto:b.blarr@gmx.de">b.blarr@gmx.de</a>
      <a class="icon-link" href="https://github.com/B-Blarr" target="_blank" rel="noopener noreferrer"
        ><img src="/icons/github.png" alt="GitHub Profile"/>
      </a>
      <a class="icon-link" href="https://www.linkedin.com/in/benjaminblarr/" target="_blank" rel="noopener noreferrer"
        ><img src="/icons/linkedin.png" alt="LinkedIn Profile"/>
      </a>
      <div class="dividing-line background-white"></div>
    </aside>
  </article>
  <aside class="banner">
    <div class="banner-content">
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerOne' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">Fullstack Developer</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerTwo' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerThree' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerOne' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">Fullstack Developer</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerTwo' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerThree' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerOne' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">Fullstack Developer</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerTwo' | translate }}</span>
      <div class="dividing-dot"></div>
      <span class="banner-text">{{ 'hero.bannerThree' | translate }}</span>
    </div>
  </aside>
</section>
