.hero-content{
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.hero-area{
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex: 1;
  height: 100%;
  padding: 0 32px;
}

aside{display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
