.dividing-line {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 620px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  gap: 16px;
  color: white;
}

.label {
  font-family: Fira Code;
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
}

.input {
  font-family: Karla;
  font-size: 18px;
  background-color: #1c1c1c;
  border: none;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;

  & .checkbox-box {
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 3px rgba(64, 181, 173, 0.25);
    }


    &:checked {
      border-color: var(--primary-color);

    &::after {
       content: '';
        position: absolute;
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid var(--primary-color);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
  }
  }

  & .checkbox-text {
    font-family: Karla;
    font-size: 15px;
    color: white;

    & .highlighted {
      color: var(--primary-color);
    }
  }
}
