<form class="contact-form" [formGroup]="userform" (ngSubmit)="onSubmit()">
  <div>
    <div class="input-container border-top">
      <label class="label" for="name">{{"contact.nameQuestion" | translate}}</label>
      <input
        class="input input-field"
        id="name"
        type="text"
        formControlName="name"
        [placeholder]="'contact.namePlaceholder' | translate"
      />
      <div class="error-container">
        @if ((userform.get('name')?.touched || formSubmitted) && userform.get('name')?.invalid) {
          <p class="error-message">
            @if (userform.get('name')?.hasError('required')) { {{ "contact.nameErrorRequired" | translate }} }
            @if (userform.get('name')?.hasError('minlength')) { {{ "contact.nameErrorMinLength" | translate }} }
          </p>
        }
      </div>
    </div>

    <div class="input-container">
      <label class="label" for="mail">{{"contact.emailQuestion" | translate}}</label>
      <input
        class="input input-field"
        id="mail"
        type="text"
        formControlName="email"
        [placeholder]="'contact.emailPlaceholder' | translate"
      />
      <div class="error-container">
        @if ((userform.get('email')?.touched || formSubmitted) && userform.get('email')?.invalid) {
          <p class="error-message">
            @if (userform.get('email')?.hasError('required')) { {{ "contact.emailErrorRequired" | translate }} }
            @if (userform.get('email')?.hasError('email')) { {{ "contact.emailErrorInvalid" | translate }} }
          </p>
        }
      </div>
    </div>


    <div class="input-container">
      <label class="label" for="message">{{"contact.messageQuestion" | translate}}</label>
      <textarea
      #messageBox
        class="input message-box"
        id="message"
        formControlName="message"
        [placeholder]="'contact.messagePlaceholder' | translate" (input)="autoResize(messageBox)"
      ></textarea>
      <div class="error-container">
        @if ((userform.get('message')?.touched || formSubmitted) && userform.get('message')?.invalid) {
          <p class="error-message">
            {{ "contact.messageErrorRequired" | translate }}
          </p>
        }
      </div>
    </div>


    <div class="privacy-policy">
      <div class="checkbox">
        <input
          class="checkbox-box"
          type="checkbox"
          id="confirmation-checkbox"
          formControlName="privacyAccepted"
        />
        <a routerLink="legal-notice">
        <label class="checkbox-text" for="confirmation-checkbox" [innerHTML]="'contact.privacy' | translate">
        </label>
        </a>
      </div>

      <div class="error-container">
        @if (formSubmitted && userform.get('privacyAccepted')?.invalid) {
          <p class="error-message">
           {{"contact.privacyError" | translate}}
          </p>
        }
      </div>
    </div>
  </div>

  <app-animated-button [type]="'submit'" [class.btn-disabled]="userform.invalid">
    <span>{{ "contact.button" | translate }}</span>
  </app-animated-button>
</form>
