.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 620px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  gap: 16px;
  color: #ffffffcc;
  cursor: pointer;
  border-bottom: 1px solid #3dcfb680;
  transition: transform 100ms ease-in;
  border-top: 1px solid transparent;
  margin-top: -1px;

  & .label {
    cursor: pointer;
  }

  & .input {
    cursor: pointer;
    font-family: Karla;
  }

  & .input-field{
    padding-bottom: 25px;
  }

  &:hover {
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    color: white;
  }
}

.border-top {
  border-top: 1px solid #3dcfb680;
}

.label {
  font-family: Fira Code;
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
}

.input {
  font-family: Karla;
  font-size: 18px;
  background-color: #1c1c1c;
  border: none;
  width: 100%;
  caret-color: var(--primary-color);

  &::placeholder {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
    border-radius: 4px;
  }
}

textarea.input {
  resize: none;
  overflow-y: auto;
  padding-top: 10px;
  min-height: 50px;
  max-height: 500px;
  caret-color: var(--primary-color);
  background-color: transparent;
  color: white;
  border: none;

  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
    border-radius: 4px;
  }
}

.privacy-policy {
  display: flex;
}

.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;

  & .checkbox-box {
    appearance: none;
    width: 18px;
    height: 18px;
    min-width: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: rgba(64, 181, 173, 0.25);
      z-index: -1;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
      transition: all 0.2s ease-in-out;
    }

    &:checked {
      border-color: var(--primary-color);

      &::after {
        content: '';
        position: absolute;

        left: 50%;

        top: 50%;
        width: 4px;
        height: 8px;
        border: solid var(--primary-color);
        border-width: 0 2px 2px 0;

        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  & .checkbox-text {
    font-family: Karla;
    font-size: 15px;
    color: white;
  }
}

.checkbox:not(:has(.checkbox-text:hover)) .checkbox-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(112, 230, 28, 0.5);

  &::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

::ng-deep .highlighted {
  color: var(--primary-color);

  &:hover {
    color: white;
    text-decoration: underline var(--primary-color);
    cursor: pointer;
  }
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 16px;
}

.error-container {
  padding-left: 25px;
  padding-bottom: 10px;
  min-height: 30px;
}

.error-message {
  font-family: Karla;
  color: #ec7b7b;
  font-size: 14px;

  &.visible {
    visibility: visible;
    opacity: 1;
    color: #ec7b7b;
  }
}

app-animated-button {
  &.btn-disabled {
    ::ng-deep button {
      cursor: default !important;
      border: 1px solid #ffffff80;
      color: #ffffff80;
    }
  }
}

@media (max-width: 450px) {
  .label {
    font-size: 20px;
  }

  .input {
    font-size: 16px;
  }

  .checkbox {
    gap: 8px;
  }

  .error-container {
  min-height: 45px;
}
}
