<form class="contact-form" [formGroup]="userform" (ngSubmit)="onSubmit()">
  <div>
    <div class="input-container border-top">
      <label class="label" for="name">{{"contact.nameQuestion" | translate}}</label>
      <input
        class="input"
        id="name"
        type="text"
        formControlName="name"
        [placeholder]="getNamePlaceholder()"
      />
    </div>

    <div class="input-container">
      <label class="label" for="mail">{{"contact.emailQuestion" | translate}}</label>
      <input
        class="input"
        id="mail"
        type="text"
        formControlName="email"
        [placeholder]="getEmailPlaceholder()"
      />
    </div>


    <div class="input-container">
      <label class="label" for="message">{{"contact.messageQuestion" | translate}}</label>
      <input
        class="input"
        id="message"
        type="text"
        formControlName="message"
        [placeholder]="getMessagePlaceholder()"
      />
    </div>


    <div class="privacy-policy">
      <div class="checkbox">
        <input
          class="checkbox-box"
          type="checkbox"
          id="confirmation-checkbox"
          formControlName="privacyAccepted"
        />
        <a routerLink="legal-notice">
        <label class="checkbox-text" for="confirmation-checkbox" [innerHTML]="'contact.privacy' | translate">
        </label>
        </a>
      </div>

      <div class="error-container">
        @if (formSubmitted && userform.get('privacyAccepted')?.invalid) {
          <p class="error-message">
           {{"contact.privacyError" | translate}}
          </p>
        }
      </div>
    </div>
  </div>

  <app-animated-button [type]="'submit'" [class.btn-disabled]="userform.invalid">
    <span>{{ "contact.button" | translate }}</span>
  </app-animated-button>
</form>
