section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  // background: linear-gradient(#1C1C1C, #08463B);
  background: linear-gradient(45deg, #1C1C1C 0%, #1C1C1C 40%, #08463B 100%);


}

app-hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
