@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation();
  min-height: 100vh;
  font-family: Karla;
  display: flex;
  flex-direction: column;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

h2 {
  @include m.big-headline;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 64px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & .imprint-headline {
    font-size: 19px;
    color: white;
    margin-top: 12px;
  }

  & .imprint-text {
    font-size: 16px;
    color: var(--primary-color);
    line-height: 1.5;

    em {
      font-style: normal;
      color: var(--primary-color);
    }

    span,
    strong {
      color: white;
      font-weight: 400;
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

app-header {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

app-footer {
  margin-top: auto;
}

@media (max-width: 1024px) {
  app-header {
    padding-left: 60px;
    padding-right: 60px;
  }

  .text-content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 900px) {
  h2 {
    font-size: 52px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 750px) {
  h2 {
    font-size: 46px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .text-content {
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  app-header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px;
    padding-bottom: 0px;
    text-align: left;
  }
}

@media (max-width: 450px) {
  .text-content {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  app-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 380px) {
  h2 {
    font-size: 22px;
  }
}
