@use '../../../styles/mixins' as m;

content{
@include m.content-limitation(row);
justify-content: center;
align-items: center;
// height: 450px;
}

h3{
  font-family: Fira Code;
  font-size: 32px;
  color: var(--primary-color);
  text-align: center;
}
