<section class="content">

<h3>What my colleagues say about me</h3>
<article class="reference-area">
@for (reference of reviewList; track reference.evaluator) {
  <article class="reference-card">
  <app-reference [reference]="reference"></app-reference>
  </article>
}
</article>
<aside class="reference-area--navigation">
  <button class="arrow-button">
  <span class="arrow-icon arrow-left" aria-hidden="true"></span>
</button>


<button class="arrow-button">
  <span class="arrow-icon arrow-right" aria-hidden="true"></span>
  </button>
</aside>
</section>


