@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation();
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Karla;

  gap: 32px;
}

h3 {
  font-family: Fira Code;
  font-size: 32px;
  color: var(--primary-color);
  text-align: center;
}

.reference-area {
  display: flex;
  padding: 16px;
  gap: 40px;
}

.reference-card {
  background: rgba(61, 207, 182, 0.3);
  border: 1px solid var(--primary-color);
  border-radius: 32px;
  padding: 40px;
  width: 520px;
  height: 280px;
}

.reviewer {
  // padding-bottom: 16px;
}

.line {
}

.evaluator {
}

.reference-area--navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 160ms ease;
  padding: 8px;

  &:hover .arrow-icon {
    transform: scale(1.12);
  }

  &:hover .arrow-left {
    background-image: url('/icons/arrow-left-hover.svg');
    transform: translateX(-3px);
  }

  &:hover .arrow-right {
    background-image: url('/icons/arrow-right-hover.svg');
    transform: translateX(3px);
  }

  .arrow-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 160ms ease;
  }

  .arrow-button:hover .arrow-icon {
    transform: scale(1.12);
  }

  .arrow-left {
    background-image: url('/icons/arrow-left-white.svg');
  }
  .arrow-right {
    background-image: url('/icons/arrow-right-white.svg');
  }

  white-dot {
  }
}
