header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 32px;


.button-area{
  display: flex;
  gap: 16px;
}
}

.language-switch{
  border: 1px solid var(--primary-color);
  border-radius: 16px;
}

.language-button{
font-size: 20px;
border: none;
background-color: transparent;
}

.nav-button{
  border: none;
  background-color: transparent;
}
