header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  font-family: Fira Code;
  padding-top: clamp(30px, 5vw, 80px);

  .button-area {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.language-switch {
  border: 1px solid var(--primary-color);
  border-radius: 100px;
}

.language-button {
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: #3dcfb680;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding-right: clamp(6px, 1.5vw, 12px);
  padding-left: clamp(6px, 1.5vw, 12px);


  &:hover {
    color: var(--primary-color);
  }

  &.active {
    color: white;
    background-color: var(--primary-color);
  }
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;

  &::after {
    content: '';
    opacity: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -5px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

.logo-full {
  display: flex;
  width: clamp(100px, 20vw, 180px);
  height: auto;
}

.logo-small {
  display: none;
}

@media (max-width: 1024px) {
  .button-area {
    gap: clamp(6px, 1.5vw, 10px);
  }

  .nav-button,
  .language-button {
    font-size: clamp(16px, 2.5vw, 16px);
    text-align: center;
    white-space: nowrap;
  }

  .language-switch {
    display: flex;
    align-items: center;
  }

  .nav-button{
    min-width: clamp(22px, 4vw, 32px);
  }
}

@media (max-width: 750px) {
  header {
    gap: 12px;
  }

  .logo-full {
    display: none;
  }

  .logo-small {
    display: flex;
    width: clamp(32px, 6vw, 48px);
    height: auto;
  }

  .button-area {
    flex-shrink: 1;
    min-width: 0;
  }
}
