<header>
  <div class="button-area">
    <div class="language-switch">
      <button type="button" (click)="setActiveLanguage('en')"
      [class.active]="activeLanguage === 'en'"
      class="language-button">EN</button>
      <button type="button" (click)="setActiveLanguage('de')"
      [class.active]="activeLanguage === 'de'"
      class="language-button">DE</button>
    </div>
    <button class="nav-button" ><a href="#aboutme-section">{{"nav.about me" | translate}}</a></button>
    <button class="nav-button" ><a href="#skills-section">{{"nav.skills" | translate}}</a></button>
    <button class="nav-button" ><a href="#projects">{{"nav.projects" | translate}}</a></button>
  </div>
  <a routerLink="">
  <img class="logo" src="/icons/logo.png" alt="Logo" />
  </a>
</header>
