button {
  min-width: clamp(153px, 16vw, 172px);
  justify-content: center;
  padding: 0 24px;
  font-family: Karla;
  font-size: 18px;
  background-color: transparent;
  border-radius: 32px;
  color: white;
  border: 1px solid white;
  height: 48px;
   overflow: hidden;

  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
  }

  &[disabled] {
    border: 1px solid #ffffff80;
    color: #ffffff80;
  }
}

 .button-text {
    display: inline-block;
  }



