button {
    padding: 0 24px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 32px;
    color: white;
    border: 1px solid white;
    height: 48px;

    &:hover {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }
  }
