button {
  min-width: clamp(140px, 16vw, 172px);
  justify-content: center;
  padding: 0 24px;
  font-size: clamp(16px, 1.8vw, 18px);
  background-color: transparent;
  border-radius: 32px;
  color: white;
  border: 1px solid white;
  height: clamp(36px, 5vw, 48px);

  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
  }

  &[disabled] {
    border: 1px solid #ffffff80;
    color: #ffffff80;
  }
}
