.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  gap: 64px;
  min-height: 100%;
  justify-content: space-between;
}

.reviewer{
  display: flex;
  align-items: center;
  gap: 16px;
}

.line{
width: 100%;
height: 1px;
border: 1px solid white;
}

.evaluator{
  white-space: nowrap;
}
