@mixin content-limitation($direction: column) {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: $direction;
}

@mixin small-headline {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 16px;
  font-weight: 700;
  font-family: Karla;
}

@mixin big-headline {
  text-align: left;
  width: 100%;
  font-size: 64px;
  color: var(--primary-color);
  font-weight: 700;
  font-family: Fira Code;
}
