<div class="stage" >
  <section class="content" id="projects">
    <div class="description">
      <h3>Portfolio</h3>
      <h2>{{ "projects.headline" | translate}}</h2>

    </div>
    <div class="projects-wrapper">
      <div class="projects-content">
        <p [innerHTML]="'projects.intro' | translate">

      </p>
      <article class="projects">
        @for (project of projectsList; track project.subtitle) {
          <aside
            class="project-teaser"
            (click)="openOverlay(project)"
            (mouseenter)="setHover(project.subtitle)"
            (mouseleave)="clearHover()"
          >
            <div class="project-name-arrow">
              <span class="project-name">{{ project.subtitle }}</span>
              <img class="hover-arrow" src="/icons/arrow-out.white.svg" alt="Arrow Out" />
            </div>
            <span class="used-technologies">
              @for (tech of project.techs; track tech.name) {
                <span>{{ tech.name }}</span>
              }
            </span>
          </aside>
        }
      </article>
      </div>
      <div class="project-image-stack">
        @for (project of projectsList; track project.subtitle; let i = $index) {
          <div
            class="individual-project-container"
            [class.visible]="hoveredProjectSubtitle === project.subtitle"
            [style.top.px]="i * 60"
          >
            <img [src]="project.imageUrl" alt="{{ project.subtitle }}" />
          </div>
        }
      </div>
    </div>
  </section>
  @if (isOverlayOpen && selectedProject) {
    <div class="overlay-layer" (click)="closeOverlay()">
      <app-project-overlay
        [project]="selectedProject!"
        (close)="isOverlayOpen = false"
        (next)="nextProject()"
      >
      </app-project-overlay>
    </div>
  }
</div>
