<section class="content">
  <div class="description">
    <h3>Portfolio</h3>
    <h2>Featured Projects</h2>
    <p>
      Explore a selection of my work here - Interact with <br />
      projects to see my skills in action.
    </p>
  </div>
  <article class="projects">
    <!-- <div class="dividing line"></div> -->
    <aside class="project-teaser">
      <span class="project-name">Join</span>
      <span class="used-technologies"
        ><span>Angular</span><span>TypeScript</span><span>HTML</span><span>SCSS</span
        ><span>Supabase</span></span
      >
    </aside>
    <!-- <div class="dividing line"></div> -->
    <aside class="project-teaser">
      <span class="project-name">El Pollo Loco</span>
      <span class="used-technologies"><span>HTML</span><span>CSS</span><span>JavaScript</span></span>
    </aside>
    <!-- <div class="dividing line"></div> -->
    <aside class="project-teaser">
      <span class="project-name">Pokedex</span>
      <span class="used-technologies"
        ><span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>REST-API</span></span
      >
    </aside>
    <!-- <div class="dividing line"></div> -->
  </article>
</section>
