<div class="stage">
  <section class="content">
    <div class="description">
      <h3>Portfolio</h3>
      <h2>Featured Projects</h2>
      <p>
        Explore a selection of my work here - Interact with <br />
        projects to see my skills in action.
      </p>
    </div>
    <div class="projects-wrapper">
      <article class="projects">
        <aside
          class="project-teaser"
          *ngFor="let project of projectsList"
          (click)="openOverlay(project)"
          (mouseenter)="setHover(project.subtitle)"
          (mouseleave)="clearHover()"
        >
          <span class="project-name">{{ project.subtitle }}</span>
          <span class="used-technologies"
            ><span>Angular</span><span>TypeScript</span><span>HTML</span><span>SCSS </span
            ><span>Supabase</span>
          </span>
        </aside>

      </article>
       <div class="project-image-stack">
          <img
            *ngFor="let project of projectsList; let i = index"
            [src]="project.imageUrl"
            [class.visible]="hoveredProjectSubtitle === project.subtitle"
            [style.top.px]="i * 60"

            alt="{{ project.subtitle }}"
          />
        </div>
    </div>
  </section>

  <div class="overlay-layer" *ngIf="isOverlayOpen && selectedProject">
    <app-project-overlay
      [project]="selectedProject!"
      (close)="isOverlayOpen = false"
      (next)="nextProject()"
    >
    </app-project-overlay>
  </div>
</div>
