@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation();
  width: 70%;
  margin-left: 80px;
  margin-bottom: 120px;
  position: relative;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & h2 {
    @include m.big-headline;
    padding-top: 12px;
  }

  & h3 {
    @include m.small-headline;
  }

  & p {
    font-size: 18px;
    color: white;
    font-family: Karla;
    margin-top: 16px;
  }
}

.projects {
  margin-top: 32px;
  border-top: 1px solid var(--primary-color);
}

.project-teaser {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  padding: 40px 32px;
  cursor: pointer;

  & .project-name {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: Fira Code;
  }

  & .used-technologies {
    font-size: 18px;
    font-family: Karla;
    color: white;
  }

  & .used-technologies span + span::before {
    content: ' | ';
    color: var(--primary-color);
  }
}

.stage {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

:host {
  .overlay-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
