@use '../../../styles/mixins' as m;

.content {
  @include m.content-limitation();
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: clamp(60px, 8vw, 120px);
  position: relative;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & h2 {
    @include m.big-headline;
    font-size: clamp(38px, 5vw, 64px);
    padding-top: 12px;
  }

  & h3 {
    @include m.small-headline;
  }
}

.projects-content {
  & p {
    font-size: 18px;
    color: white;
    font-family: Karla;
    margin-top: 16px;
  }
}

.projects-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(24px, 4vw, 60px);
  width: 100%;
  // padding-right: 140px;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: clamp(16px, 2.5vw, 32px);
  border-top: 1px solid var(--primary-color);
}

.project-teaser {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  padding: clamp(20px, 3vw, 40px) clamp(16px, 2.5vw, 32px);
  cursor: pointer;
  transition: 0.2s ease-in;

  &:hover {
    background: rgba(61, 207, 182, 0.3);

    & .project-name-arrow .hover-arrow {
      opacity: 1;
      transition: opacity 150ms ease;
    }
  }

  & .project-name-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    & .project-name {
      color: white;
      // font-size: clamp(18px, 2.5vw, 24px);
      font-size: 24px;
      font-weight: 700;
      font-family: Fira Code;
    }

    & .hover-arrow {
      width: 12px;
      height: 12px;
      opacity: 0;
    }
  }

  & .used-technologies {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-family: Karla;
    color: white;
  }

  & .used-technologies span {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .used-technologies span + span::before {
    content: ' | ';
    color: var(--primary-color);
  }
}

.stage {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

:host {
  .overlay-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.project-image-stack {
  position: relative;
  flex: 0 0 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .individual-project-container {
    position: absolute;
    // width: 300px;
    // height: 200px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &.visible {
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }

    & img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      border-radius: 16px;
      position: relative;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      width: 300px;
      height: 200px;
      top: 20px;
      left: 20px;
      border-radius: 16px;
      z-index: 1;
      opacity: 0;
      transition: opacity 600ms ease;

      background: repeating-linear-gradient(
        135deg,
        color-mix(in srgb, var(--primary-color) 95%, transparent),
        color-mix(in srgb, var(--primary-color) 95%, transparent) 1px,
        transparent 1px,
        transparent 8px
      );
    }
  }
}

@media (max-width: 1024px) {
  .content {
    padding-right: 60px;
    padding-left: 60px;
  }

  .project-image-stack {
    padding-right: 20px;
  }
}

@media (max-width: 1100px) and (min-width: 1006px) {
  .project-teaser .project-name-arrow .hover-arrow {
    display: none;
  }

  .project-teaser {
    gap: 32px;
  }
}

@media (max-width: 1005px) {
  .project-teaser {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 950px) {
  .project-image-stack {
    flex: 0 0 240px;
    width: 240px;
  }

  .project-image-stack .individual-project-container img {
    width: 220px;
    height: 147px;
  }

  .project-image-stack .individual-project-container::after {
    width: 220px;
    height: 147px;
    top: 15px;
    left: 15px;
  }
}

@media (max-width: 770px) {
  .project-image-stack {
    padding-right: 40px;
  }
}

@media (max-width: 750px) {
  .content {
    padding-right: 40px;
    padding-left: 40px;
  }

  .project-image-stack {
    display: none;
  }
}
